body {
    font-family: "Rubik", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:beige;
}

#frame {
    border: solid 6px black;
    border-radius: 16px;
    background-color: grey;
    width: 400px;
    height: 480px;
    padding: 16px;
}

.cell {
    display: flex;
    margin: 4px;
    background-color: lightgrey;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.cell:active {
    transform: scale(1.1);
}

.number:active {
    background-color: whitesmoke;
}

.action:active{
    background-color: aquamarine;
}

#screen:active {
    transform: scale(1.0);
}

#equal:active{
    background-color: greenyellow;
}
#upper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#screen {
    display: flex;
    background-color: #d9d9d9;
    justify-content: end;
    align-items: end;
    font-size: 3em;
    overflow: hidden;
    width: 400px;
    height: 4rem;
    border-radius: initial;

}

#clear {
    background-color: lightblue;
    width: 180px;
    height: 60px;
}

#delete {
    background-color: red;
    width: 180px;
    height: 60px;
}

#lower {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
}

#refer {
    text-align: center;
    font-size: 1.25em;
    position: relative;
    bottom: -30px;
    color: #200009;

}